.photo-grid {
  margin: 0 auto;
  width: 92.5%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 16px;
}
@media screen and (max-width: 568px) {
  .photo-grid {
      width: 92%; /* Вместо calc() */
      gap: 12px;
  }
}