.intro__list{
    list-style: none;
    padding:0;
    margin-top:40px;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.5;
}
@media screen and (max-width: 568px) {
    .intro__list {
      margin-top: 34px;
    }
  }