.header{
    margin: 28px auto 48px;
    height: auto;
    display: flex;
    width: calc(100% - 2 * 48px);
    justify-content: space-between;
    align-items: center;
    
}
@media screen and (max-width: 984px) {
    .header {
        width: calc(100% - 2 * 24px);
    }
}
@media screen and (max-width: 568px){
    .header{
        width: calc(100% - 2 * 16px);
    }
    
}