.place__website_url-heading{
    font-weight: 400;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin:0 0 12px;
}
@media screen and (max-width: 984px) {
    .place__url-heading {
      font-size: 12px;
      line-height: 1;
      letter-spacing: 2px;
    }
  }