.footer__nav{
    display: flex;
    flex-direction: row;
    gap: 18px;

}
@media screen and (max-width: 568px) {
    .footer__nav {
      flex-direction: column;
      align-items: flex-start;
    }
  }