.lead__caption {
    text-transform: uppercase;
    font-size: 10px;
    line-height: 1.4;
    letter-spacing: 1.5px;
    font-weight: 400;
    margin-top: 8px;
    text-align: left;
    width: 100%;
}

@media screen and (max-width: 984px) {
  .lead__caption {
    margin-left: 24px;
  }
}
@media screen and (max-width: 568px) {
    .lead__caption {
      margin-left: 16px;
    }
  }